div.item-wrapper {
    background-color:#eee;
    margin: 5px 0px;
    padding: 10px;
}
div.item-icon {
    float: left;
    width: 80px;
    height: 80px;
}
div.item-title {
    font-size: large;
    margin-left: 90px;
}
div.item-description {
    margin-left: 90px;
}

div.item-float-clear {
    clear: left;
}

@media screen and ( min-width:720px ) {
    div.body-wrapper {
        width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
}
